*{
  margin:0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}
.app-header{
  background-color: white;
  object-fit: contain;/*로고 이미지 크기 항상 유지 */
  padding:20px;
  border-bottom: 1px solid lightgray;
}
.app-signup{
  display: flex;
  flex-direction: column;

}